// File Imports
@import './variables'
@import './nav'
@import './header'
@import './footer'

// Clearing Page
*
        margin: 0
        padding: 0
        box-sizing: border-box

// All images
img
        width: 100%

// Home Page Content
.phone-number
    background-color: $primeBlue
    color: $primeWhite
    margin-top: -4px
    padding: 2%
    text-align: center
    h2
        display: inline
        font-family: $classFont
        font-weight: 400
        font-size: 40px

        &:nth-child(2)
            font-family: $modFont
            margin-left: 10%

// About
.about
    background-color: $primeWhite
    padding: 10%
    text-align: center
    p
        font-size: $pSize
        color: $primeBlue
        padding: 8%
        margin-bottom: 6%
        font-family: $classFont
    a
        @include btn($primeWhite)

// Practice Area
.practice
    background-color: $primeWhite
    padding: 10%
    text-align: center
    p
        font-size: $pSize
        color: $primeBlue
        padding: 8%
        margin-bottom: 6%
        font-family: $classFont
    a
        @include btn($primeWhite)
    div
        margin-bottom: 10%

// Slogan Window
.window
    width: 100%
    height: 550px
    position: relative
    margin: 0

    h2
        position: absolute
        font-size: 60px
        font-family: $classFont
        color: $primeBlue
        top: 47%
        left: 19%

    img
        position: fixed
        top: 0
        left: 0
        z-index: -1
        visibility: hidden

// Attorneys
.attorneys
    background-color: $primeBlue
    padding: 10%
    text-align: center
    p
        font-size: $pSize
        color: $primeWhite
        padding: 8%
        margin-bottom: 6%
        margin-top: 11%
        font-family: $classFont
    a
        @include btn($primeBlue)
    div
        margin-bottom: 6%

// Location
.location
    background-color: $primeWhite
    color: $primeBlue
    padding: 3%
    h2
        font-family: $modFont
        font-weight: 400
        margin-left: 5%
        font-size: 60px

    p
        font-size: $pSize
        font-family: $classFont
        text-align: center
        margin-left: 40%
        margin-right: 5%
    iframe
        margin-left: 5%
        margin-top: 3%

// Contacts
.contacts
    background-color: $primeBlue
    padding: 3%
    color: $primeWhite
    position: relative
    height: 730px
    h2
        font-family: $modFont
        font-weight: 400
        margin-left: 5%
        font-size: 60px
        margin-bottom: $homeContMar
    .contactstxt
        font-family: $classFont
        p
            font-size: 30px
            color: $primeWhite
            margin-left: 5%
            margin-bottom: $homeContMar
            &:nth-child(2)
                width: 23%
                font-size: 20px
    .form-container
        position: absolute
        top: 170px
        left: 61%
        ::placeholder
            color: $primeGray
        input
            font-size: 20px
            display: block
            margin: 20px
            width: 76%
            padding: 7px
            border: none
        textarea
            font-size: 20px
            font-family: 'Helvetica'
            display: block
            margin: 20px
            width: 76%
            padding: 7px
            border: none
        button
            border: 2px solid $primeWhite
            font-size: 15px
            font-family: $modFont
            color: $primeWhite
            background-color: $primeBlue
            padding: 25px
            padding-top: 7px
            padding-bottom: 7px
            position: absolute
            right: 110px
            transition: color, background-color 0.4s
            &:hover
                background-color: darken($primeBlue, 7)
                color: darken($primeWhite, 7)


    a
        @include btn($primeBlue)
        position: absolute
        left: 40%
        bottom: 80px
