$primeBlue: #5A9FB5
$primeWhite: #F0F0ED
$prueWhite: #FFFFFF
$primeGray: #B9AFAF

$classFont: Lora
$modFont: 'Lato', sans-serif
$pSize: 28px

$homeContMar: 6%

// build btn (fontsize, padding ect) then if for colors
@mixin btn($theme)
    @if $theme == $primeWhite
        border: 2px solid $primeBlue
        font-size: 18px
        font-family: $modFont
        color: $primeBlue
        text-decoration: none
        padding: 6%
        padding-top: 1.3%
        padding-bottom: 1.3%
        transition: color, background-color 0.5s
        &:hover
            background-color: darken($primeWhite, 7)
            color: darken($primeBlue, 7)
    @else
        border: 2px solid $primeWhite
        font-size: 18px
        font-family: $modFont
        color: $primeWhite
        text-decoration: none
        padding: 6%
        padding-top: 1.3%
        padding-bottom: 1.3%
        transition: color, background-color 0.5s
        &:hover
            background-color: darken($primeBlue, 7)
            color: darken($primeWhite, 7)
