*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Template */
nav a{
    color: black;
    text-decoration: none;
}

/* Home */


/* Move later */
img{
    width: 100%;
}
/*---------------------*/
